.headerIcon {
    text-align: center;
    padding: 20px;
    height: 80px;
    .icon {
      height: 40px;
      width: 40px;
      width: fit-content;
      margin: 0 auto;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  .contentWrp {
      display: flex;
      align-items: center;
      justify-content: center;
      height: calc(100vh - 80px);
    .passwordBox {
      max-width: 400px;
      margin: 0 auto;
      .icon {
        height: 96px;
        width: 96px;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .passTextmain {
        font-size: 32px;
        text-align: center;
      }
      .passSubText {
        text-align: center;
        font-size: 14px;
      }
      .passButton {
        text-align: center;
        font-size: 15px;
        border-radius: 100px;
        padding: 7px 15px;
      }
      .bottomText{
          text-align: center;
          font-size: 14px;
          a{
              font-weight: 600;
              font-size: 14px;
          }
      }
    }
  }
  